<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>854651919039-fs36ts8iauf3bstsfs5hbu39brb64l0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854651919039-fs36ts8iauf3bstsfs5hbu39brb64l0o</string>
	<key>API_KEY</key>
	<string>AIzaSyCQs4hrAyO5MfRQFV5TYUG-A5ahHh9rHq0</string>
	<key>GCM_SENDER_ID</key>
	<string>854651919039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.React.MessengerApp</string>
	<key>PROJECT_ID</key>
	<string>messengerapp-1ffa6</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerapp-1ffa6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:854651919039:ios:7b12d1a2bdf20f61</string>
	<key>DATABASE_URL</key>
	<string>https://messengerapp-1ffa6.firebaseio.com</string>
</dict>
</plist>